body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  /* styles for buttons on home page */
.budget-func-btns a:hover {
    color: white !important;
}

/* table on home page */
.budget-table tbody tr:hover {
  cursor: pointer;
}

/* styles for name, limit */
.money-color {
  color: #3e9c35 !important;
}



.custom-blue {
  background-color: hsl(208, 98%, 35%);
  color: white;
}

.custom-blue:hover {
  background-color: hsl(208, 98%, 25%);
  color: white;
}

.budget-name {
  font-family: Arial, Helvetica sans-serif !important;
}

/* styles for inputs that are readonly */
input[readonly]{
  background-color: transparent !important;
}

/* chart div */
.chart-div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


/* budget div and coverter div */
.budget-div, .converter-div, .calculator-div {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);

}

/* calculator */

.calculator {
  background-color: hsl(205, 2%, 75%);
  border: 1px solid black;
  width: 90% !important;
  margin: auto;
}


.calculator input {
  background-color: white !important;
  border: 1px solid black;
  padding: 8px;
}

