{% extends 'budgets/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
        {{hidden_field.errors}}
        {{hidden_field}}
    {% endfor %}

    {{form.management_form}}
    {{form.non_form_errors}}

    <h3 class="mb-5">{{object.name}}</h3>
    <div class="article-metadata">
        <p>Limit - <span class="text-success">&euro;{{ object.limit}}</span></p>
        <p>Available - <span class="text-success">&euro;{{ object.remaining_limit}}</span></p>
    </div>
    {% for item_form in form.forms %}
        <h5 class="mt-5">
            {% if item_form.instance.id %}
            
                Item: {{item_form.instance.name|title}}

            {% else %}
                {% if form.forms|length > 1 %}
                    Add another Item
                
                {% else %}
                    Add an Item

                {% endif %}

            {% endif %}
        </h5>
        {{item_form|crispy}}
    {% endfor %}
    <hr>
    <p>
        <button type="submit" value="Update collection" class="btn btn-primary w-100 mb-3">
            Update Items
        </button>
        <a href="{{ object.get_absolute_url }}" role="button" class="btn btn-secondary w-100">
            Cancel
        </a>
    </p>
</form>
{% endblock content %}
