{% extends 'budgets/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-end mb-3">
            <div class="btn-group budget-func-btns" role="group" aria-label="Basic example">
                <a class="btn btn-dark text-light" href="#">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-dark text-light" href="{% url 'budgets-create' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <table class="table table-light table-hover rounded budget-table">
            <thead>
                <th>Name</th>
                <th>Limit &lpar;&euro;&rpar;</th>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr class="budget-table-row" data-href="{{ budget.get_absolute_url }}">
                        <td class="budget-name">{{budget.name}}</td>
                        <td class="money-color">{{budget.limit}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'budgets/js/budget_table.js' %}"></script>
{% endblock content %}
